<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/shopping.css">
</head>
<body class="">
    
    <div class="container">
        <header>
            <h1>Casual</h1>
            <div class="shopping">
                <img src="static/image/shopping.svg">
                <span class="quantity">0</span>
            </div>
        </header>

        <div class="list">
          
        </div>
    </div>
    <div class="card">
        <h1>Cart</h1>
        <ul class="listCard">
        </ul>
        <div class="checkOut">
            <div class="total">0</div>
            <div class="closeShopping">Close</div>
            <a href="{{ url_for('register') }}" class="link">Submit</a>
        </div>
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ url_for('shop') }}" class="link">Shop All</a>
        <a href="{{ url_for('vintage') }}" class="link">Vintage</a>
        <a href="{{ url_for('nightout') }}" class="link">Night Out</a>
        <a href="{{ url_for('casual') }}" class="link">Casual</a>
        <a href="{{ url_for('summer') }}" class="link">Summer</a>
    </div>
    <!-- Use any element to open the sidenav -->
    <span onclick="openNav()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </span>
    <script>
        /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }
        /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>

    <script src="static/casual.js"></script>
</body>
</html>




<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casual</title>
    <link rel="stylesheet" href="static/casual.css">
</head>
<body class="">
    
    <div class="container">
        <header>
            <h1>Casual</h1>
            <div class="shopping">
                <img src="static/image/shopping.svg">
                <span class="quantity">0</span>
            </div>
        </header>

        <div class="list">
          
        </div>
    </div>
    <div class="card">
        <h1>Cart</h1>
        <ul class="listCard">
        </ul>
        <div class="checkOut">
            <div class="total">0</div>
            <div class="closeShopping">Close</div>
            <a href="{{ url_for('register') }}" class="link">Submit</a>
        </div>
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ url_for('shop') }}" class="link">Shop All</a>
        <a href="{{ url_for('vintage') }}" class="link">Vintage</a>
        <a href="{{ url_for('nightout') }}" class="link">Night Out</a>
        <a href="{{ url_for('casual') }}" class="link">Casual</a>
        <a href="{{ url_for('summer') }}" class="link">Summer</a>
    </div>
    <!-- Use any element to open the sidenav -->
    <span onclick="openNav()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </span>
    <script>
        /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }
        /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>

    <script src="static/shopping.js"></script>
</body>
</html> -->