<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styles</title>
    <link rel="stylesheet" href="static/shopping.css">
</head>
<body class="">
    
    <div class="container">
        <header>
            <h1>Shop All</h1>
            <div class="shopping">
                <img src="static/image/shopping.svg">
                <span class="quantity">0</span>
            </div>
        </header>
        <!-- Use any element to open the sidenav -->
        <span onclick="openNav()">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </span>

        <div class="category-wrapper">
            <div class="category-section" id="casual">
                <h2>Casual</h2>
                <div class="list">
                    <!-- add casual items-->
                    <div class="item">
                        <img src="static/image/casual2.jpeg" alt="White T-shirt">
                        <div class="title">
                            <a href="https://www.urbanoutfitters.com/shop/bdg-universal-shrunken-tee?inventoryCountry=US&color=010&size=XS&utm_medium=cpc&utm_source=google&utm_campaign=%5BNB%20PLA%20US%5D%20-%20PMAX%20-%20Womens%20-%20Tops&utm_content=&utm_term=&creative=&device=c&matchtype=&network=x&utm_kxconfid=vx6q4l3b6&gclid=CjwKCAjwtuOlBhBREiwA7agf1mnoViHo70iHegTYyRENT6hjr45AzEoQBnF7EFVd7sD0q-YG_n_TbhoCj-MQAvD_BwE&gclsrc=aw.ds&type=REGULAR&quantity=1" target="_blank">
                                White T-shirt
                            </a>
                        </div>
                        <div class="price">$20.00</div>
                        <button onclick="addToCard(0)" onmouseover="addHoverEffect()" onmouseout="removeHoverEffect()">Add To Cart</button>

                        <!-- <button onclick="addToCard(0)">Add To Cart</button> -->
                    </div>
                    <div class="item">
                        <img src="static/image/casual1.jpeg" alt="Blue jeans">
                        <div class="title">
                            <a href="https://www.pacsun.com/pacsun/eco-medium-blue-dad-jeans-4701066.html?store=PACSUN-1157&country=US&currency=USD&OriginId=GOG&XCIDP=P%3AG_Shopping_PMAX_W_Bottoms+%3E+Denim&gclid=CjwKCAjwtuOlBhBREiwA7agf1nx5wFoq5Z0os9H-E0ku-UX0bW9JdudpI6qYc0e-DsTEI8Z_SfNdARoCJdwQAvD_BwE&gclsrc=aw.ds" target="_blank">
                                Blue Jeans
                            </a>
                        </div>
                        <div class="price">$59.65</div>
                        <button onclick="addToCard(1)">Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class="category-section" id="summer">
                <h2>Summer</h2>
                <div class="list">
                    <!-- add summer items -->
                    <div class="item">
                        <img src="static/image/summer1.jpeg" alt="Long green dress">
                        <div class="title">
                            <a href="https://savannahmorrow.com/products/jaya-dress-agave" target="_blank">
                                Long Green Dress
                            </a>
                        </div>
                        <div class="price">$251.31</div>
                        <button onclick="addToCard(2)">Add To Cart</button>
                    </div>
                    <div class="item">
                        <img src="static/image/summer2.jpeg" alt="Colorful mini dress">
                        <div class="title">
                            <a href="https://www.davidjones.com/Product/25827125" target="_blank">
                                Colorful Mini Dress
                            </a>
                        </div>
                        <div class="price">$789.0</div>
                        <button onclick="addToCard(3)">Add To Cart</button>
                    </div>
                    <div class="item">
                        <img src="static/image/summer3.jpeg" alt="Floral open back dress">
                        <div class="title">
                            <a href="https://us.needleandthread.com/products/sunrise-bloom-backless-cotton-micro-mini-dress-moonshine?epik=dj0yJnU9MnhzOVJNMEJEYzhnXzVpdnlpcjB4ZnZRM2o1UDNxekkmcD0wJm49MkNxeHI5dmlYeXBPLTZmLXBBeE5OQSZ0PUFBQUFBR1M0RlJB" target="_blank">
                                Floral Open Back
                            </a>
                        </div>
                        <div class="price">$349.0</div>
                        <button onclick="addToCard(4)">Add To Cart</button>
                    </div>
                    <div class="item">
                        <img src="static/image/summer4.jpeg" alt="Mini blue floral dress">
                        <div class="title">
                            <a href="https://www.usa.bardot.com/product/lila-flounce-dress-58061DB_WATER+FLRL.html" target="_blank">
                                Mini Blue Floral Dress
                            </a>
                        </div>
                        <div class="price">$189.0</div>
                        <button onclick="addToCard(5)">Add To Cart</button>
                    </div>
                    <div class="item">
                        <img src="static/image/summer5.jpeg" alt="Long white dress">
                        <div class="title">
                            <a href="https://lichi.com/ww/en/product/43137?ssp_iabi=1683999469025" target="_blank">
                                Long White Dress
                            </a>
                        </div>
                        <div class="price">$89.99</div>
                        <button onclick="addToCard(6)">Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class="category-section" id="nightout">
                <h2>Nightout</h2>
                <div class="list">
                    <!-- add nighout items -->
                    <div class="item">
                        <img src="static/image/nightout1.jpeg" alt="Black corsette">
                        <div class="title">
                            <a href="https://www.showpo.com/us/vaira-strapless-corset-top-in-black.html" target="_blank">
                                Black Corsette
                            </a>
                        </div>
                        <div class="price">$49.95</div>
                        <button onclick="addToCard(7)">Add To Cart</button>
                    </div>
                    <div class="item">
                        <img src="static/image/nightout2.jpeg" alt="Black leather pants">
                        <div class="title">
                            <a href="https://www.nordstrom.com/s/franklin-high-waist-faux-leather-wide-leg-pants/7365895?origin=keywordsearch-personalizedsort&breadcrumb=Home%2FAll%20Results&color=001" target="_blank">
                                Black Leather Pants
                            </a>
                        </div>
                        <div class="price">$59.99</div>
                        <button onclick="addToCard(8)">Add To Cart</button>
                    </div>
                    <div class="item">
                        <img src="static/image/nightout3.jpeg" alt="Striped pants">
                        <div class="title">
                            <a href="https://us.princesspolly.com/products/archer-pants-pinstripe-grey-petite?currency=USD&variant=39751561576532&utm_medium=cpc&utm_source=google&utm_campaign=Google%20Shopping&utm_source=cpc&utm_medium=google&utm_term=&adid=&matchtype=&addisttype=xpla&tw_source=google&tw_adid=&tw_campaign=19750607918&gclid=CjwKCAjwtuOlBhBREiwA7agf1pm79rI9QtfgJsGEto80zWugs5ymvv_sWcLAy4bBclda6JgWRdR5MxoCOaYQAvD_BwE" target="_blank">
                                Striped Pants
                            </a>
                        </div>
                        <div class="price">$65.00</div>
                        <button onclick="addToCard(9)">Add To Cart</button>
                    </div>
                    <div class="item">
                        <img src="static/image/nightout4.jpeg" alt="Embroidered top">
                        <div class="title">
                            <a href="https://www.freepeople.com/shop/florence-top2/?color=001&countryCode=US&gclid=CjwKCAjwtuOlBhBREiwA7agf1ogt3ykN4maUQrmVHLEoWFZvw2N4qvTdwaSDnf3IVEJsbR65eZLCQBoCuL8QAvD_BwE&gclsrc=aw.ds&inventoryCountry=US&size=M&utm_kxconfid=vx6ro62gj&type=REGULAR&quantity=1" target="_blank">
                                Embroidered Top
                            </a>
                        </div>
                        <div class="price">$128.0</div>
                        <button onclick="addToCard(10)">Add To Cart</button>
                    </div>
                    <div class="item">
                        <img src="static/image/nightout5.jpeg" alt="Silver top">
                        <div class="title">
                            <a href="https://us.motelrocks.com/products/pratiba-top-silver" target="_blank">
                                Silver Top
                            </a>
                        </div>
                        <div class="price">$52.00</div>
                        <button onclick="addToCard(11)">Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class="category-section" id="vintage">
                <h2>Vintage</h2>
                <div class="list">
                    <!-- add vintage items -->
                    <div class="item">
                        <img src="static/image/vintage2.jpeg" alt="Vintage leather jacket">
                        <div class="title">
                            <a href="https://cherishthelabel.com/collections/new-arrivals-1/products/vintage-double-collar-oversized-leather-bomber-jacket-xs-xxl" target="_blank">
                                Vintage Leather Jacket
                            </a>
                        </div>
                        <div class="price">$218.0</div>
                        <button onclick="addToCard(12)">Add To Cart</button>
                    </div>
                    <div class="item">
                        <img src="static/image/vintage1.jpeg" alt="Cowboy boots">
                        <div class="title">
                            <a href="https://www.countryoutfitter.com/shyanne-womens-loretta-western-boots---snip-toe/2000014395.html?dwvar_2000014395_color=280#q=Cowgirl+boots&start=4" target="_blank">
                                Cowboy Boots
                            </a>
                        </div>
                        <div class="price">$170.0</div>
                        <button onclick="addToCard(13)">Add To Cart</button>
                    </div>
                    <div class="item">
                        <img src="static/image/vintage3.jpeg" alt="Vintage jean skirt">
                        <div class="title">
                            <a href="https://www.urbanoutfitters.com/shop/bdg-kendall-denim-maxi-skirt?color=093&size=XS&utm_medium=social&utm_source=pinterest&utm_campaign=organic-shopping&utm_content=WOMENS-BOTTOMS&utm_kxconfid=vx6q5cl47&epik=dj0yJnU9YjdnTWJiVWRfYUJkbm9ReUR2Y0FabHZSd3pCNVh3TEgmcD0wJm49a1UtalM5X3oteHg2MlE0N3hGNG5VdyZ0PUFBQUFBR1M0QnZv&type=REGULAR&quantity=1" target="_blank">
                                Vintage Jean Skirt
                            </a>
                        </div>
                        <div class="price">$99.00</div>
                        <button onclick="addToCard(14)">Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <h1>Cart</h1>
        <ul class="listCard">
        </ul>
        <div class="checkOut">
            <div class="total">0</div>
            <div class="closeShopping">Close</div>
            <a href="{{ url_for('register') }}" class="link">Confirm Order</a>
        </div>
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ url_for('shop') }}" class="link">Shop All</a>
        <a href= #vintage class="link">Vintage</a>
        <a href=#nightout class="link">Night Out</a>
        <a href=#casual class="link">Casual</a>
        <a href=#summer class="link">Summer</a>
    </div>
    
    <script>
        /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }
        /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>

    <script src="static/shopping.js"></script>
    <script>
        function addHoverEffect() {
          // Add the CSS class for the hover effect
          var button = document.querySelector("button");
          button.classList.add("button-hover-effect");
        }
      
        function removeHoverEffect() {
          // Remove the CSS class when the hover is no longer active
          var button = document.querySelector("button");
          button.classList.remove("button-hover-effect");
        }
      </script>
</body>
</html>

































