<html>
  <head>
    <meta charset="utf-8">
    <title>User Account Dashboard Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="static/userAccount.css">
  </head>
  <body>
    <div class="container">
        <h2>My Account<span class="pull-right marg-bn"><i class="fa fa-wpforms" aria-hidden="true"></i></span></h2>
        
        <div class="reminder-blessing  pad-gb">
          <div class="bg-gray pad-st pad-sb mrg-gt mrg-gb">
            <span class="font-df mrg-sl">Personal Information</span>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <h5 class="font-bd">Full Name</h5>
              <span class="">July Simth</span>
              <span class="btn btn-link pad-zl">EDIT</span>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
              <h5 class="font-bd">Username</h5>
              <span class="">july.smith</span>
              <span class="btn btn-link pad-zl">EDIT</span>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
              <h5 class="font-bd">Email</h5>
              <span class="">july.smith@gmail.com</span>
              <span class="btn btn-link pad-zl">EDIT</span>
            </div>
            <div class="col-sm-1"></div>
          </div>
          </div>
        
        <div class="recent-order pad-gb">
        <div class="bg-gray pad-st pad-sb mrg-gt mrg-gb">
          <span class="font-df mrg-sl">Order History</span>
        </div>
        <div class="row mrg-zl pad-xt pad-xb border-btm">
          <div class="col-sm-3">
            <span class="font-sb">ORDER#</span>
          </div>
          <div class="col-sm-1">
            <span class="font-sb">TOTAL</span>
          </div>
          <div class="col-sm-2">
            <span class="font-sb"></span>
          </div>
        </div>
        <div class="row mrg-zl pad-xt pad-xb border-btm">
          <div class="col-sm-3">
            <span class="">0005435GFD412</span>
          </div>
          <div class="col-sm-1">
            <span class="font-lt">$2,500</span>
          </div>
          <div class="col-sm-1">
            <span class="font-lt btn btn-link marg-bn pad-zl">VIEW</span>
          </div>
          <div class="col-sm-2">
            <span class="font-lt"></span>
          </div>
        </div>
        <div class="row mrg-zl pad-xt pad-xb border-btm">
          <div class="col-sm-3">
            <span class="font-lt">0005435GFD412</span>
          </div>
          <div class="col-sm-1">
            <span class="font-lt">$2,500</span>
          </div>
          <div class="col-sm-1">
            <span class="font-lt btn btn-link marg-bn pad-zl">VIEW</span>
          </div>
        </div>
        </div>

  </body>
</html>
