<html>
  <head>
    <meta charset="utf-8">
    <title>User Account Dashboard Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="userAccount.css">
  </head>
  <body>
    <div class="container">
        <h2>My Dashboard<span class="pull-right marg-bn"><i class="fa fa-wpforms" aria-hidden="true"></i></span></h2>
        <div class="recent-order pad-gb">
        <div class="bg-gray pad-st pad-sb mrg-gt mrg-gb">
          <span class="font-df mrg-sl">Recent order</span>
          <span class="font-df btn btn-link pull-right marg-bn">VIEW ALL</span>
        </div>
        <div class="row mrg-zl pad-xt pad-xb border-btm">
          <div class="col-sm-3">
            <span class="font-sb">ORDER#</span>
          </div>
          <div class="col-sm-1">
            <span class="font-sb">DATE</span>
          </div>
          <div class="col-sm-3">
            <span class="font-sb">SHIP TO</span>
          </div>
          <div class="col-sm-1">
            <span class="font-sb">TOTAL</span>
          </div>
          <div class="col-sm-1">
            <span class="font-sb">STATUS</span>
          </div>
          <div class="col-sm-1">
            <span class="font-sb ">VIEW</span>
          </div>
          <div class="col-sm-2">
            <span class="font-sb"></span>
          </div>
        </div>
        <div class="row mrg-zl pad-xt pad-xb border-btm">
          <div class="col-sm-3">
            <span class="">0005435GFD412</span>
          </div>
          <div class="col-sm-1">
            <span class="font-lt">8/8/2017</span>
          </div>
          <div class="col-sm-3">
            <span class="font-lt">Dominic Levinson grey</span>
          </div>
          <div class="col-sm-1">
            <span class="font-lt">$2,500</span>
          </div>
          <div class="col-sm-1">
            <span class="font-lt btn btn-grey font-sm font-bd label label-default address-label">PENDING</span>
          </div>
          <div class="col-sm-1">
            <span class="font-lt btn btn-link marg-bn pad-zl">VIEW</span>
          </div>
          <div class="col-sm-2">
            <span class="font-lt"></span>
          </div>
        </div>
        <div class="row mrg-zl pad-xt pad-xb border-btm">
          <div class="col-sm-3">
            <span class="font-lt">0005435GFD412</span>
          </div>
          <div class="col-sm-1">
            <span class="font-lt">8/8/2017</span>
          </div>
          <div class="col-sm-3">
            <span class="font-lt">Dominic Levinson grey</span>
          </div>
          <div class="col-sm-1">
            <span class="font-lt">$2,500</span>
          </div>
          <div class="col-sm-1">
            <span class="font-lt btn btn-primary-dark font-sm font-bd label label-default address-label">SHIPPING</span>
          </div>
          <div class="col-sm-1">
            <span class="font-lt btn btn-link marg-bn pad-zl">VIEW</span>
          </div>
          <div class="col-sm-2">
            <span class="font-lt btn btn-link marg-bn">TRACK ORDER</span>
          </div>
        </div>
        </div>
        <div class="reminder-blessing  pad-gb">
        <div class="bg-gray pad-st pad-sb mrg-gt mrg-gb">
          <span class="font-df mrg-sl">Reminder & Blessing Program</span>
          <span class="font-df btn btn-link pull-right marg-bn">MANAGE CALENDER</span>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <h5 class="font-bd">Date</h5>
            <span class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            <span class="btn btn-link pad-zl">EDIT</span>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-3">
            <h5 class="font-bd">Date</h5>
            <span class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            <span class="btn btn-link pad-zl">EDIT</span>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-3">
            <h5 class="font-bd">Date</h5>
            <span class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            <span class="btn btn-link pad-zl">EDIT</span>
          </div>
          <div class="col-sm-1"></div>
        </div>
        </div>
        <div class="address-information pad-gb">
        <div class="bg-gray pad-st pad-sb mrg-gt mrg-gb">
          <span class="font-df mrg-sl">Address Information</span>
          <span class="font-df btn btn-link pull-right marg-bn">MANAGE ADDRESSES</span>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <h5 class="font-bd">Contact Information</h5>
            <span class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</span>
            <span class="btn btn-link pad-zl">EDIT</span>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-8">
            <h5 class="font-bd">Newsleters</h5>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</span>
              <div class="col-sm-4">
                <div class="floating-label form-group review-field-nickname">
                         <input required="" type="text" name="nickname" id="nickname_field" class="form-control" data-validate="{required:true}" data-bind="value: nickname()">
                          <label for="nickname_field"><span>EMAIL ADDRESS</span>
                          </label>
                     </div>
            </div>
            <div class="col-sm-8">
                    <div class="form-group "> 
                        <label class="btn btn-default man address-label">
                            <input type="radio"checked="">MAN
                        </label> 
                        <label class="btn btn-default women address-label">
                            <input type="radio">WOMEN
                        </label> 
                        <label class="address-label btn btn-default couple">
                            <input type="radio">COUPLE
                        </label>
                <button class="submit btn btn-dark save btn-lg" name="Submit">SING UP</button>
                    </div>
            </div>
          </div>
          <div class="col-sm-1"></div>
        </div>
        </div>
        <div class="address-book pad-gb">
        <div class="bg-gray pad-st pad-sb mrg-gt mrg-gb">
          <span class="font-df mrg-sl">Address Book</span>
          <span class="font-df btn btn-link pull-right marg-bn">MANAGE ADDRESSES</span>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <h5 class="font-bd">Default Billing Address</h5>
            <span class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            <span class="btn btn-link pad-zl">EDIT ADDRESS</span>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-3">
            <h5 class="font-bd">Default Shipping Address</h5>
            <span class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            <span class="btn btn-link pad-zl">EDIT ADDRESS</span>
          </div>
          <div class="col-sm-1"></div>
        </div>
        </div>
        </div>
  </body>
</html>
